In [12]:
#Import dependency
import pandas as pd

In [13]:
#Import Jan,2020 bike data
jan="202001-citibike-tripdata.csv"
jan_df=pd.read_csv(jan)
jan_df.head()
#As per data, User Type (Customer = 24-hour pass or 3-day pass user; Subscriber = Annual Member)
#As per data, Gender (Zero=unknown; 1=male; 2=female)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1

In [14]:
#Import all rest 11 months data
feb="202002-citibike-tripdata.csv"
feb_df=pd.read_csv(feb)
mar="202003-citibike-tripdata.csv"
mar_df=pd.read_csv(mar)
apr="202004-citibike-tripdata.csv"
apr_df=pd.read_csv(apr)
may="202005-citibike-tripdata.csv"
may_df=pd.read_csv(may)
june="202006-citibike-tripdata.csv"
june_df=pd.read_csv(june)
july="202007-citibike-tripdata.csv"
july_df=pd.read_csv(july)
aug="202008-citibike-tripdata.csv"
aug_df=pd.read_csv(aug)
sep="202009-citibike-tripdata.csv"
sep_df=pd.read_csv(sep)
oct="202010-citibike-tripdata.csv"
oct_df=pd.read_csv(oct) 
nov="202011-citibike-tripdata.csv"
nov_df=pd.read_csv(nov)
dec="202012-citibike-tripdata.csv"
dec_df=pd.read_csv(dec)

In [15]:
#Transform the Jan data
#removing missing or null values
#removing duplicates
jan_df.dropna(inplace=True)
jan_df.drop_duplicates(inplace=True)
jan_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,789,2020-01-01 00:00:55.3900,2020-01-01 00:14:05.1470,504,1 Ave & E 16 St,40.732219,-73.981656,307,Canal St & Rutgers St,40.714275,-73.989900,30326,Subscriber,1992,1
1,1541,2020-01-01 00:01:08.1020,2020-01-01 00:26:49.1780,3423,West Drive & Prospect Park West,40.661063,-73.979453,3300,Prospect Park West & 8 St,40.665147,-73.976376,17105,Customer,1969,1
2,1464,2020-01-01 00:01:42.1400,2020-01-01 00:26:07.0110,3687,E 33 St & 1 Ave,40.743227,-73.974498,259,South St & Whitehall St,40.701221,-74.012342,40177,Subscriber,1963,1
3,592,2020-01-01 00:01:45.5610,2020-01-01 00:11:38.1550,346,Bank St & Hudson St,40.736529,-74.006180,490,8 Ave & W 33 St,40.751551,-73.993934,27690,Subscriber,1980,1
4,702,2020-01-01 00:01:45.7880,2020-01-01 00:13:28.2400,372,Franklin Ave & Myrtle Ave,40.694546,-73.958014,3637,Fulton St & Waverly Ave,40.683239,-73.965996,32583,Subscriber,1982,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1240591,1587,2020-01-31 23:59:26.8820,2020-02-01 00:25:54.4890,3244,University Pl & E 8 St,40.731437,-73.994903,3092,Berry St & N 8 St,40.719009,-73.958525,40662,Subscriber,1990,1
1240592,222,2020-01-31 23:59:32.6410,2020-02-01 00:03:15.4720,383,Greenwich Ave & Charles St,40.735238,-74.000271,383,Greenwich Ave & Charles St,40.735238,-74.000271,28722,Subscriber,1983,1
1240593,163,2020-01-31 23:59:39.1780,2020-02-01 00:02:23.0400,150,E 2 St & Avenue C,40.720874,-73.980858,411,E 6 St & Avenue D,40.722281,-73.976687,32530,Subscriber,1958,2
1240594,327,2020-01-31 23:59:49.2310,2020-02-01 00:05:16.3790,483,E 12 St & 3 Ave,40.732233,-73.988900,3718,E 11 St & Avenue B,40.727464,-73.979504,15314,Customer,1994,1
1240595,484,2020-01-31 23:59:57.0360,2020-02-01 00:08:01.1820,327,Vesey Pl & River Terrace,40.715338,-74.016584,534,Water - Whitehall Plaza,40.702551,-74.012723,30947,Subscriber,1987,1

In [16]:
#Transform all the months data
#removing missing or null values
#removing duplicates
feb_df.dropna(inplace=True)
feb_df.drop_duplicates(inplace=True)
mar_df.dropna(inplace=True)
mar_df.drop_duplicates(inplace=True)
apr_df.dropna(inplace=True)
apr_df.drop_duplicates(inplace=True)
may_df.dropna(inplace=True)
may_df.drop_duplicates(inplace=True)
june_df.dropna(inplace=True)
june_df.drop_duplicates(inplace=True)
july_df.dropna(inplace=True)
july_df.drop_duplicates(inplace=True)
aug_df.dropna(inplace=True)
aug_df.drop_duplicates(inplace=True)
sep_df.dropna(inplace=True)
sep_df.drop_duplicates(inplace=True)
oct_df.dropna(inplace=True)
oct_df.drop_duplicates(inplace=True)
nov_df.dropna(inplace=True)
nov_df.drop_duplicates(inplace=True)
dec_df.dropna(inplace=True)
dec_df.drop_duplicates(inplace=True)

In [17]:
#add a new column 'Month' with a fixed value 'month name' to df
jan_df['Month'] = 'Jan'
feb_df['Month'] = 'Feb'
mar_df['Month'] = 'Mar'
apr_df['Month'] = 'April'
may_df['Month'] = 'May'
june_df['Month'] = 'June'
july_df['Month'] = 'July'
aug_df['Month'] = 'Aug'
sep_df['Month'] = 'Sep'
oct_df['Month'] = 'Oct'
nov_df['Month'] = 'Nov'
dec_df['Month'] = 'Dec'

In [18]:
#randomly sampling 500 rows from the original DataFrame for all months
#sampling without replacement- each row in the original DataFrame can only be selected once in the sample.
sample_jan_df=jan_df.sample(n=500, random_state=42, replace=False)
sample_feb_df=feb_df.sample(n=500, random_state=42, replace=False)
sample_mar_df=mar_df.sample(n=500, random_state=42, replace=False)
sample_apr_df=apr_df.sample(n=500, random_state=42, replace=False)
sample_may_df=may_df.sample(n=500, random_state=42, replace=False)
sample_june_df=june_df.sample(n=500, random_state=42, replace=False)
sample_july_df=july_df.sample(n=500, random_state=42, replace=False)
sample_aug_df=aug_df.sample(n=500, random_state=42, replace=False)
sample_sep_df=sep_df.sample(n=500, random_state=42, replace=False)
sample_oct_df=oct_df.sample(n=500, random_state=42, replace=False)
sample_nov_df=nov_df.sample(n=500, random_state=42, replace=False)
sample_dec_df=dec_df.sample(n=500, random_state=42, replace=False)

In [19]:
jan_count = sample_jan_df.count()
jan_count

tripduration               500
starttime                  500
stoptime                   500
start station id           500
start station name         500
start station latitude     500
start station longitude    500
end station id             500
end station name           500
end station latitude       500
end station longitude      500
bikeid                     500
usertype                   500
birth year                 500
gender                     500
Month                      500
dtype: int64

In [20]:
july_count = sample_july_df.count()
july_count

tripduration               500
starttime                  500
stoptime                   500
start station id           500
start station name         500
start station latitude     500
start station longitude    500
end station id             500
end station name           500
end station latitude       500
end station longitude      500
bikeid                     500
usertype                   500
birth year                 500
gender                     500
Month                      500
dtype: int64

In [22]:
datas = [sample_jan_df,sample_feb_df,sample_mar_df,sample_apr_df,sample_may_df,sample_june_df,sample_july_df,sample_aug_df,sample_sep_df,sample_oct_df,sample_nov_df,sample_dec_df]

combined_data = pd.concat(datas)
combined_data

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,Month
523513,314,2020-01-13 19:39:52.1540,2020-01-13 19:45:06.8790,493,W 45 St & 6 Ave,40.756800,-73.982912,495,W 47 St & 10 Ave,40.762699,-73.993012,38206,Subscriber,1975,1,Jan
339569,326,2020-01-10 12:59:46.1880,2020-01-10 13:05:12.9750,435,W 21 St & 6 Ave,40.741740,-73.994156,509,9 Ave & W 22 St,40.745497,-74.001971,33757,Subscriber,1985,2,Jan
236372,447,2020-01-07 21:46:12.2240,2020-01-07 21:53:39.5220,513,W 56 St & 10 Ave,40.768254,-73.988639,479,9 Ave & W 45 St,40.760193,-73.991255,39651,Subscriber,1964,1,Jan
616176,278,2020-01-15 18:32:49.4950,2020-01-15 18:37:27.7820,483,E 12 St & 3 Ave,40.732233,-73.988900,432,E 7 St & Avenue A,40.726218,-73.983799,34141,Subscriber,1994,1,Jan
907046,697,2020-01-24 08:23:17.0360,2020-01-24 08:34:54.8530,509,9 Ave & W 22 St,40.745497,-74.001971,526,E 33 St & 5 Ave,40.747659,-73.984907,30336,Subscriber,1967,2,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
602477,397,2020-12-13 17:45:03.9430,2020-12-13 17:51:41.7590,439,E 4 St & 2 Ave,40.726281,-73.989780,3435,Grand St & Elizabeth St,40.718822,-73.995960,34925,Subscriber,1979,2,Dec
809483,406,2020-12-22 15:08:18.8580,2020-12-22 15:15:05.1990,458,11 Ave & W 27 St,40.751396,-74.005226,515,W 43 St & 10 Ave,40.760094,-73.994618,45195,Subscriber,1997,1,Dec
709538,753,2020-12-16 19:30:31.2520,2020-12-16 19:43:05.1130,2022,E 60 St & York Ave,40.759107,-73.959223,519,Pershing Square North,40.751873,-73.977706,36541,Subscriber,1977,1,Dec
126263,2820,2020-12-03 14:46:54.0940,2020-12-03 15:33:54.9510,332,Cherry St,40.712199,-73.979481,297,E 15 St & 3 Ave,40.734232,-73.986923,45195,Subscriber,1954,2,Dec
147653,1160,2020-12-03 19:49:48.1970,2020-12-03 20:09:08.2450,3744,1 Ave & E 5 St,40.725864,-73.986389,4121,1 Ave & E 39 St,40.747140,-73.971130,47809,Customer,1995,1,Dec

In [24]:
# convert the dataframe to CSV files
sample_jan_df.to_csv('jan2020.csv', index=False)
sample_feb_df.to_csv('feb2020.csv', index=False)
sample_mar_df.to_csv('mar2020.csv', index=False)
sample_apr_df.to_csv('apr2020.csv', index=False)
sample_may_df.to_csv('may2020.csv', index=False)
sample_june_df.to_csv('june2020.csv', index=False)
sample_july_df.to_csv('july2020.csv', index=False)
sample_aug_df.to_csv('aug2020.csv', index=False)
sample_sep_df.to_csv('sep2020.csv', index=False)
sample_oct_df.to_csv('oct2020.csv', index=False)
sample_nov_df.to_csv('nov2020.csv', index=False)
sample_dec_df.to_csv('dec2020.csv', index=False)
combined_data.to_csv('combined.csv', index=False)